button {
  display: flex;
  margin: 0 auto;
  padding: 5px 20px;
  margin-top: 35px;
  margin-bottom: 10px;
  background: transparent;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 10px;
  transition: .5s;
  cursor: pointer;
  color: white;
}

button:hover {
  background: white;
  border: 1px solid black;
  color: black;
}
