
.main{
    max-width: 95%;
    width: 1400px;
    margin: 0 auto;
}

.hero{
    position: relative;
}
header .logo h1 img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: block;
}

.hero header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

nav ul{
    list-style: none;
    display: inline-block;
    flex-wrap: wrap;
}

nav ul li{
    text-decoration: none;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 200;
    border-bottom: 2px solid transparent;
    color: white;
    
}
