* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    color: white;
}

html {
    background: radial-gradient(rgb(255, 230, 4), 1px, rgb(245, 173, 17));
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}


h1 {
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 50px;
    font-weight: 600;
}

input {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

input {
    min-width: 25%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    color: black;
}

