* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 200;
}

body {
  max-width: 100%;
  max-height: 100%;
  background: radial-gradient(rgb(252, 235, 0), 1px, rgb(255, 196, 0));
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}

h1 {
  margin-top: 150px;
  margin-bottom: 50px;
  font-size: 3.4rem;
  font-weight:900;
  color: white;
}